<footer class="page-footer font-small navbar-dark bg-dark fixed-bottom">
    <div style="color: white;" class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="http://advancedmmo.com"> AdvancedMMO.com</a>
    </div>
</footer>