<header>
    <link rel="stylesheet" href="public/css/game.css">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <a class="navbar-brand">stats</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav right-padding">
                <span class="align-middle">experience: {{xp}}</span>
            </ul>
            <ul class="navbar-nav">
                <span class="">coins: {{coins}}</span>
            </ul>
        </div>
    </nav>
</header>