<header>
    <link rel="stylesheet" href="public/css/game.css">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <a class="navbar-brand" href="/">stats</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <span class="navbar-text border" id="xp-text">1000/1500 66.6%</span>
            </ul>
        </div>
    </nav>
</header>