<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="public/js/links.js"></script>
    <title>Document</title>
</head>
<body>
    <p>Yeahhaaa aaa</p>
    <img src="/public/images/download.jpeg" alt="">
    <h1>yeetloaf op een stokkie met kaas</h1>

    {{username}}

    <button id="walk-button">Walk</button>
</body>
</html>