<div class="container">
    <div class="jumbotron text-center">
        {{#if  username}}
            <h4 class="card-title h4 pb-2">Welcome <strong>{{username}}</strong>!</h4>
        {{else}}
            <h4 class="card-title h4 pb-2"><strong>Welcome</strong>!</h4>
        {{/if}}

        <div class="view overlay my-4">
            <img src="public/images/braavos.jpeg" class="img-fluid" alt="">
            <a href="#">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <h5 class="indigo-text h5 mb-4">Photography</h5>

        <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>

        <!-- Linkedin -->
        <a class="fa-lg p-2 m-2 li-ic"><i class="fab fa-linkedin-in grey-text"></i></a>
        <!-- Twitter -->
        <a class="fa-lg p-2 m-2 tw-ic"><i class="fab fa-twitter grey-text"></i></a>
        <!-- Dribbble -->
        <a class="fa-lg p-2 m-2 fb-ic"><i class="fab fa-facebook-f grey-text"></i></a>

    </div>
</div>