
<!doctype html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/public/js/coins.js"></script>
    

    <title>Clicking page</title>
</head>
<body>
    <h1>click on this button to get some coins</h1>

    <button id="addbutton">click this to add</button>
    <h2>Your coins: <span id="coin-amount"></span></h2>
</body>
</html>




