<link rel="stylesheet" href="/public/css/items.css">
<div class="container">
    <h1 class="heading">Game items</h1>
    <div class="view-items">
        <div class="showcase">
            {{#each items}}
                    <div class="item">

                        <img src="/public/images/icons/{{this.icon}}" alt="">
                        <div class="text-box">
                            <a href="/"><h2 id="item-name">{{this.name}}</h2></a>
                            <p>{{this.rarity}}</p>

                        </div>
                        <div class="text-box-2">
                            <p>{{this.description}}</p>
                        </div>
                    </div>
            {{/each}}
        </div>
    </div>
</div>